[Desktop Entry]
Version=3.7.2
Name=Aptana
Comment=Aptana 3.7.2
Exec=/home/sg/apps/aptana/AptanaStudio3
Icon=/home/sg/apps/aptana/icon.xpm
Terminal=false
Type=Application
Categories=Utility;Application;
